<!doctype html>

{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

<head>
  <!--bootstrap-->
  <link rel="stylesheet" href="{% static 'css/blog-post.css' %}">
  <!--meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Rose der Welt</title>

</head>


{% block content %}

<div class="body" align="center">
 <a href="https://rosederwelt.com/blog">{{ page.body|richtext }}</a>
</div>

{% endblock %}

