<!doctype html>

{% load static wagtailcore_tags %}

<head>
  <link rel="stylesheet" href="{% static 'home/css/home_page.css' %}">
  <!--meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Rose der Welt</title>
</head>

<body>
  <div class="container">
    <div class="center-box">
      <h1>Rose der Welt</h1>
      <a href="https://rosederwelt.com/blog"><img src="https://res.cloudinary.com/dihfichjz/image/upload/v1595772223/aldeburgh-suffolk_lwndos.png" alt="Aldeburgh, Suffolk, UK"/></a>
      <br>
      <p>a blog about code & prose</p>
    </div>
  </div>
</body>
</html>


