{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />


        {# Global stylesheets #}
        <link href="https://bootswatch.com/4/minty/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'css/mysite.css' %}" type="text/css" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Work+Sans:wght@500&display=swap" rel="stylesheet"> 


      {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
      {% endblock %}

        <script src="https://kit.fontawesome.com/bfc4e5b724.js" crossorigin="anonymous"></script> 

    </head>


    <style>
         a:link {
           color: #5eb69d;
         }
         a:visited {
           color: #ef7479;
         }
         a:hover {
           color: #78C2AD;
           text-decoration: none;
         }
         ::selection {
           background-color: #78C2AD;
           color: #FFFFFF;
         }
       </style>


       <body class="{% block body_class %}{% endblock %}">
               {% wagtailuserbar %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
         <div class="btn-group">
          <button class="btn btn-secondary btn-lg" type="button">
           <a class="navbar-brand" href="http://rosederwelt.com/">Rose der Welt</a>
          </button>
	  <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
   <a class="dropdown-item" href="https://rosederwelt.com/about-me">About</a>          
   <a class="dropdown-item" href="https://rosederwelt.com/blog">Blog</a>
   <a class="dropdown-item" href="https://rosederwelt.com/reading">Reading</a>
   <a class="dropdown-item" href="https://rosamundmather.com">Work</a>
  </div>
</div>

<!--

 <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="https://rosederwelt.com/about">{ ABOUT ME }</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://rosederwelt.com/reading">{ WHAT I'M READING }</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://rosederwelt.com/vegan-berlin">{ VEGAN BERLIN }</a>
            </li>
          </ul>
 
            -->


<!--search bar:

	<ul class="navright">
          <form class="form-inline my-2 my-lg-0">

            <input class="form-control mr-sm-2" type="text" placeholder="search...">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">go</button>        

          </form>
-->


        </div>
      </nav>
<br>
<br>

<div class="container">
  <p class="lead">{% block content %}{% endblock %}</p>
  <hr class="my-4">
</div>

<div class="horizontalgap" style="width:30px"></div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    </body>
</html>

<footer>
  <center>
  <span style="font-size: 30px">
    <a href="mailto:rosamund@posteo.de"><i class="fas fa-envelope"></i></a>
    <a href="https://goodreads.com/spookytofu"><i class="fab fa-goodreads"></i></a>
    <a href="https://twitter.com/ro_sa_mu_nd"><i class="fab fa-twitter-square"></i></a>
    <a href="https://last.fm/user/puismourir"><i class="fab fa-lastfm-square"></i></a>
  </span>
  <br>
  <small>© Rosamund Mather {%now "Y"%} | <a href="http://rosederwelt.com/impressum/">terms of use</a>
</small>
  <br><br>
</center>
</footer>
